@font-face {
  font-family: 'Jetbrains Mono';
  src: url('/JetBrainsMono[wght].ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Jetbrains Mono';
  src: url('/JetBrainsMono-Italic[wght].ttf') format('truetype');
  font-style: italic;
}
