:root {
  /* Colors. */
  /* For light theme: */
  --color-white-100: hsl(0, 0%, 100%);
  --color-black-900: hsl(0, 0%, 9%);
  /* For dark theme: */
  --color-white-200: hsl(60, 30%, 96%);
  --color-black-800: hsl(195, 6%, 12%);
  /* Other utilities colors: */
  --color-black-700: hsl(0, 0%, 19%);
  --color-gray-100: hsl(0, 0%, 93%);
  --color-teal-500: hsl(181, 43%, 38%);
  --color-teal-700: hsl(181, 52%, 28%);

  /* Transitions. */
  --transition-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
